Repository Quansight/Quansight-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run affected:lint-styles

Added missing styles files
  .lintstagedrc.json
  apps/consulting/pages/_app.tsx
  apps/consulting/pages/index.module.scss
  apps/consulting/pages/styles.css
  apps/labs/pages/_app.tsx
  apps/labs/pages/styles.css
Due: prettier --write, npm run affected:lint-styles

feat: Added eslint, stylelint, prettier and tailwind(#3)
  .eslintignore
  .eslintrc.json
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .stylelintrc.json
  .vscode/extensions.json
  apps/consulting/.stylelintrc.json
  apps/consulting/pages/_app.tsx
  apps/consulting/pages/index.module.scss
  apps/consulting/pages/index.tsx
  apps/consulting/pages/styles.css
  apps/consulting/postcss.config.js
  apps/consulting/project.json
  apps/consulting/tailwind.config.js
  apps/labs/.eslintrc.json
  apps/labs/.stylelintrc.json
  apps/labs/pages/_app.tsx
  apps/labs/pages/index.module.scss
  apps/labs/pages/index.tsx
  apps/labs/pages/styles.css
  apps/labs/postcss.config.js
  apps/labs/project.json
  apps/labs/tailwind.config.js
  nx.json
  package-lock.json
  package.json
Due: prettier --write, npm run affected:lint-styles

feat: Introduced Storyblok SDK (#2)
  .env
  apps/labs/components/Page.tsx
  apps/labs/components/blocks/Placeholder.tsx
  apps/labs/components/blocks/index.tsx
  apps/labs/pages/[slug].tsx
  apps/labs/pages/api/enter-preview.ts
  apps/labs/pages/api/exit-preview.ts
  apps/labs/pages/api/preview.js
  codegen.yml
  graphql.schema.json
  libs/shared/storyblok-sdk/.babelrc
  libs/shared/storyblok-sdk/.eslintrc.json
  libs/shared/storyblok-sdk/README.md
  libs/shared/storyblok-sdk/jest.config.js
  libs/shared/storyblok-sdk/project.json
  libs/shared/storyblok-sdk/src/api/queries/page.graphql
  libs/shared/storyblok-sdk/src/api/queries/pageItems.graphql
  libs/shared/storyblok-sdk/src/api/sdk/clients/apolloClient.ts
  libs/shared/storyblok-sdk/src/api/sdk/getSdk.ts
  libs/shared/storyblok-sdk/src/api/types/graphql.ts
  libs/shared/storyblok-sdk/src/hooks/usePreviewMode.tsx
  libs/shared/storyblok-sdk/src/hooks/useStoryblok.ts
  libs/shared/storyblok-sdk/src/index.ts
  libs/shared/storyblok-sdk/tsconfig.json
  libs/shared/storyblok-sdk/tsconfig.lib.json
  libs/shared/storyblok-sdk/tsconfig.spec.json
  package-lock.json
  package.json
  tsconfig.base.json
  workspace.json
Due: prettier --write

Added some lint improvements
  .lintstagedrc.json
  apps/consulting/tsconfig.json
  apps/labs/tsconfig.json
  codegen.yml
  graphql.schema.json
  libs/shared/storyblok-sdk/src/api/queries/page.graphql
  libs/shared/storyblok-sdk/src/api/queries/pageItems.graphql
  tsconfig.base.json
Due: none

test: remove *-e2e dirs from apps
  apps/consulting-e2e/.eslintrc.json
  apps/consulting-e2e/cypress.json
  apps/consulting-e2e/project.json
  apps/consulting-e2e/src/fixtures/example.json
  apps/consulting-e2e/src/integration/app.spec.ts
  apps/consulting-e2e/src/support/app.po.ts
  apps/consulting-e2e/src/support/commands.ts
  apps/consulting-e2e/src/support/index.ts
  apps/consulting-e2e/tsconfig.json
  apps/labs-e2e/.eslintrc.json
  apps/labs-e2e/cypress.json
  apps/labs-e2e/project.json
  apps/labs-e2e/src/fixtures/example.json
  apps/labs-e2e/src/integration/app.spec.ts
  apps/labs-e2e/src/support/app.po.ts
  apps/labs-e2e/src/support/commands.ts
  apps/labs-e2e/src/support/index.ts
  apps/labs-e2e/tsconfig.json
Due: prettier --write

chore: remove cypress packages
  package-lock.json
  package.json
Due: none

chore: remove *-e2e projects from workspace
  workspace.json
Due: none

docs: update readme e2e section
  README.md
Due: none

feat: Added some fixes related with eslint, prettier and typescript
  .eslintrc.json
  .lintstagedrc.json
  .prettierrc
  apps/consulting/.eslintrc.json
  apps/consulting/pages/index.tsx
  apps/labs/.eslintrc.json
  apps/labs/components/Page.tsx
  apps/labs/components/blocks/Placeholder.tsx
  apps/labs/index.d.ts
  apps/labs/pages/[slug].tsx
  apps/labs/pages/_app.tsx
  apps/labs/pages/api/enter-preview.ts
  apps/labs/pages/api/exit-preview.ts
  apps/labs/pages/index.tsx
  apps/labs/specs/index.spec.tsx
  apps/labs/tsconfig.json
  package-lock.json
  package.json
Due: prettier --write

feat: Added some lint improvements (#4)
  .eslintrc.json
  .lintstagedrc.json
  .prettierrc
  apps/consulting/.eslintrc.json
  apps/consulting/pages/index.tsx
  apps/consulting/tsconfig.json
  apps/labs/.eslintrc.json
  apps/labs/components/Page.tsx
  apps/labs/components/blocks/Placeholder.tsx
  apps/labs/index.d.ts
  apps/labs/pages/[slug].tsx
  apps/labs/pages/_app.tsx
  apps/labs/pages/api/enter-preview.ts
  apps/labs/pages/api/exit-preview.ts
  apps/labs/pages/index.tsx
  apps/labs/specs/index.spec.tsx
  apps/labs/tsconfig.json
  codegen.yml
  graphql.schema.json
  libs/shared/storyblok-sdk/src/api/queries/page.graphql
  libs/shared/storyblok-sdk/src/api/queries/pageItems.graphql
  package-lock.json
  package.json
  tsconfig.base.json
Due: prettier --write

WIP
  .env.sample
  .gitignore
  apps/labs/components/BlokProvider/BlokProvider.tsx
  apps/labs/components/Page.tsx
  apps/labs/components/Page/Page.tsx
  apps/labs/components/Placeholder/Placeholder.tsx
  apps/labs/components/blocks/index.tsx
  apps/labs/pages/[slug].tsx
  apps/labs/services/getPaths/getPaths.ts
  apps/labs/types/graphql/slug.ts
  apps/labs/types/storyblok/block.ts
  graphql.schema.json
  libs/shared/storyblok-sdk/src/api/queries/links.graphql
  libs/shared/storyblok-sdk/src/api/queries/page.graphql
  libs/shared/storyblok-sdk/src/api/queries/pageItems.graphql
  libs/shared/storyblok-sdk/src/api/sdk/getSdk.ts
  libs/shared/storyblok-sdk/src/api/types/graphql.ts
  libs/shared/storyblok-sdk/src/hooks/useStoryblok.ts
  libs/shared/storyblok-sdk/src/index.ts
  package-lock.json
Due: prettier --write

WIP
  apps/labs/components/BlokProvider/BlokProvider.tsx
  apps/labs/components/Feature/Feature.tsx
  apps/labs/components/Page/Page.tsx
  apps/labs/components/Teaser/Teaser.tsx
  apps/labs/constants/blokMap.ts
  apps/labs/pages/[slug].tsx
  apps/labs/services/contentTypes/isPageType.ts
  apps/labs/services/getPropsByType/getPropsByType.ts
  apps/labs/services/mappers/getFeatureProps.ts
  apps/labs/services/mappers/getTeaserProps.ts
  apps/labs/types/helpers/TypeValuesUnion.ts
  apps/labs/types/storyblok/block.ts
  apps/labs/types/storyblok/blok.ts
  apps/labs/types/storyblok/contentTypes.ts
  libs/shared/storyblok-sdk/src/hooks/useStoryblok.ts
Due: prettier --write

Added typings for sdk
  .eslintrc.json
  apps/consulting/.eslintrc.json
  apps/consulting/pages/_app.tsx
  apps/consulting/pages/index.tsx
  apps/labs/.eslintrc.json
  apps/labs/components/Page/Page.tsx
  apps/labs/components/Placeholder/Placeholder.tsx
  apps/labs/pages/[slug].tsx
  apps/labs/pages/_app.tsx
  apps/labs/pages/api/enter-preview.ts
  apps/labs/pages/api/exit-preview.ts
  apps/labs/pages/index.tsx
  apps/labs/services/getPaths/getPaths.ts
  apps/labs/tsconfig.json
  apps/labs/types/graphql/links.ts
  codegen.yml
  libs/shared/storyblok-sdk/.eslintrc.json
  libs/shared/storyblok-sdk/src/api/queries/page.graphql
  libs/shared/storyblok-sdk/src/api/sdk/api.ts
  libs/shared/storyblok-sdk/src/api/sdk/getSdk.ts
  libs/shared/storyblok-sdk/src/api/types/graphql.ts
  libs/shared/storyblok-sdk/src/api/utils/getLinks.ts
  libs/shared/storyblok-sdk/src/api/utils/getPageItem.ts
  libs/shared/storyblok-sdk/src/hooks/usePreviewMode.tsx
  libs/shared/storyblok-sdk/src/hooks/useStoryblok.ts
  libs/shared/storyblok-sdk/src/index.ts
  libs/shared/storyblok-sdk/src/types/global.ts
  libs/shared/storyblok-sdk/src/types/storyblok.ts
Due: prettier --write

Fixes
  codegen.yml
  libs/shared/storyblok-sdk/.eslintrc.json
  libs/shared/storyblok-sdk/src/api/types/graphql.ts
  package-lock.json
  package.json
Due: prettier --write

Fixes
  libs/shared/storyblok-sdk/src/hooks/useStoryblok.ts
  libs/shared/storyblok-sdk/src/types/global.ts
Due: prettier --write

SDK env variables fix
  libs/shared/storyblok-sdk/src/api/sdk/clients/apolloClient.ts
  libs/shared/storyblok-sdk/src/hooks/usePreviewMode.tsx
  libs/shared/storyblok-sdk/src/hooks/useStoryblok.ts
  package-lock.json
Due: prettier --write

Svg alt text fix
  apps/consulting/pages/index.tsx
Due: prettier --write

feat: Removed keys to storyblok from env.sample
  .env.sample
Due: none

feat: Removed keys to storyblok from env.sample (#9)
  .env.sample
Due: none

chore: Added mergable, codeowners and dependabot files
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/mergable.yml
Due: none

chore: Added mergable, codeowners and dependabot files (#10)
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/mergable.yml
Due: none

chore(mergeable): Fixed mergeable config file name
  .github/mergeable.yml
  package-lock.json
Due: none

chore(mergeable): Fixed mergeable config file name (#16)
  .github/mergeable.yml
  package-lock.json
Due: none

chore(mergeable): Fix mergeable config for dependabot
  .github/mergeable.yml
Due: none

chore(mergeable): Fix mergeable config for dependabot (#17)
  .github/mergeable.yml
Due: none

chore: Some fixes
  .github/dependabot.yml
  .github/mergeable.yml
Due: none

chore: mergeable fix for dependabot (#18)
  .github/dependabot.yml
  .github/mergeable.yml
Due: none

chore: mergable fixes
  .github/mergeable.yml
Due: none

chore: mergeable fix for dependabot (#19)
  .github/mergeable.yml
Due: none

chore: fixes after bumping new version of node types
  apps/labs/pages/api/exit-preview.ts
  package-lock.json
Due: prettier --write

feat: add ui-components lib
  .lintstagedrc.json
  .vscode/settings.json
  apps/labs/pages/index.tsx
  libs/shared/ui-components/.babelrc
  libs/shared/ui-components/.eslintrc.json
  libs/shared/ui-components/README.md
  libs/shared/ui-components/jest.config.js
  libs/shared/ui-components/project.json
  libs/shared/ui-components/src/components/layout.tsx
  libs/shared/ui-components/src/index.ts
  libs/shared/ui-components/tsconfig.json
  libs/shared/ui-components/tsconfig.lib.json
  libs/shared/ui-components/tsconfig.spec.json
  package-lock.json
  package.json
  tsconfig.base.json
  workspace.json
Due: prettier --write

feat: apply Layout to pages
  apps/consulting/pages/index.tsx
  apps/labs/pages/index.tsx
  libs/shared/ui-components/src/components/Layout/Layout.tsx
  libs/shared/ui-components/src/components/layout.tsx
  libs/shared/ui-components/src/index.ts
Due: prettier --write

chore: axios
  package-lock.json
  package.json
Due: none

feat: connect application to storyblok
  apps/labs/pages/[slug]/index.tsx
  apps/labs/pages/api/exit-preview.ts
  apps/labs/pages/api/preview.js
  apps/labs/pages/api/preview.ts
  apps/labs/pages/index.tsx
  apps/labs/specs/index.spec.tsx
  libs/shared/storyblok-sdk/src/hooks/usePreviewMode.tsx
  libs/shared/storyblok-sdk/src/hooks/useStoryblok.ts
Due: prettier --write

Added small fixes
  apps/labs/pages/[slug]/index.tsx
  apps/labs/pages/index.tsx
Due: prettier --write

feat: unify apps
  apps/consulting/components/BlokProvider/BlokProvider.tsx
  apps/consulting/components/Feature/Feature.tsx
  apps/consulting/components/Page/Page.tsx
  apps/consulting/components/Placeholder/Placeholder.tsx
  apps/consulting/components/Teaser/Teaser.tsx
  apps/consulting/constants/blokMap.ts
  apps/consulting/pages/[slug].tsx
  apps/consulting/pages/api/enter-preview.ts
  apps/consulting/pages/api/exit-preview.ts
  apps/consulting/pages/api/preview.js
  apps/consulting/services/contentTypes/isPageType.ts
  apps/consulting/services/getPaths/getPaths.ts
  apps/consulting/services/getPropsByType/getPropsByType.ts
  apps/consulting/services/mappers/getFeatureProps.ts
  apps/consulting/services/mappers/getTeaserProps.ts
  apps/consulting/types/graphql/links.ts
  apps/consulting/types/graphql/slug.ts
  apps/consulting/types/helpers/TypeValuesUnion.ts
  apps/consulting/types/storyblok/blok.ts
  apps/consulting/types/storyblok/contentTypes.ts
Due: prettier --write

feat: connect application to storyblok (#25)
  apps/labs/pages/[slug]/index.tsx
  apps/labs/pages/api/preview.js
  apps/labs/pages/api/preview.ts
  apps/labs/specs/index.spec.tsx
  libs/shared/storyblok-sdk/src/hooks/usePreviewMode.tsx
  libs/shared/storyblok-sdk/src/hooks/useStoryblok.ts
Due: prettier --write

WIP
  libs/shared/ui-components/src/components/Hero/Hero.tsx
Due: prettier --write

feat: changes the way application handles storyblok bloks
  .gitignore
  apps/consulting/components/BlokProvider/BlokProvider.tsx
  apps/consulting/components/BlokProvider/componentsMap.ts
  apps/consulting/components/BlokProvider/mappers/getFeatureProps.ts
  apps/consulting/components/BlokProvider/mappers/getTeaserProps.ts
  apps/consulting/components/BlokProvider/types.ts
  apps/consulting/components/BlokProvider/utils/getPropsByType.ts
  apps/consulting/components/Page/Page.tsx
  apps/consulting/constants/blokMap.ts
  apps/consulting/services/getPropsByType/getPropsByType.ts
  apps/consulting/services/mappers/getFeatureProps.ts
  apps/consulting/services/mappers/getTeaserProps.ts
  apps/consulting/tsconfig.json
  apps/consulting/types/storyblok/blok.ts
  apps/labs/components/BlokProvider/BlokProvider.tsx
  apps/labs/components/BlokProvider/componentsMap.ts
  apps/labs/components/BlokProvider/mappers/getFeatureProps.ts
  apps/labs/components/BlokProvider/mappers/getTeaserProps.ts
  apps/labs/components/BlokProvider/types.ts
  apps/labs/components/BlokProvider/utils/getPropsByType.ts
  apps/labs/components/Page/Page.tsx
  apps/labs/constants/blokMap.ts
  apps/labs/services/getPropsByType/getPropsByType.ts
  apps/labs/services/mappers/getFeatureProps.ts
  apps/labs/services/mappers/getTeaserProps.ts
  apps/labs/types/storyblok/blok.ts
  libs/shared/ui-components/src/components/index.ts
  libs/shared/ui-components/src/index.ts
  libs/shared/ui-components/src/types/blok/Blok.ts
  libs/shared/ui-components/src/types/index.ts
  libs/shared/ui-components/src/types/utils/TypeValuesUnion.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx}
  npm run affected:lint-styles: any of: *.css
